

<!--whole row when small, else 1/3-->
<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card shadow mx-auto">
        
        <!-- makes a link of evrything in between-->
        <%= link_to post do %>

        <img alt="" class="card-img-top card-topper" src="#{<% post.banner_image_url %>}">


        <div class="card-body card-block">
            
            <!--POST TITLE-->
            <h3 class="card-title"><%= post.title %></h3>

            <!--
                <div class="thin-text small">
                    <!--remeber to sanitize tag input--
                    <%#= raw post.tags.map { |t| link_to t.name, posts_path(tag: t.name) }.join(', ') %>
                </div>
            -->
         
            <p>
                <small class="text-muted text-thin">Published: <%= post.date_published %></small>    
                <small class=""> | Updated: <%= post.date_updated %></small>
            </p>
         
            
            <!--DESCRIPTION-->
            <p class="card-text lead">
                <%= truncate(post.description, length: 75) %>
            </p>

        </div>
        <% end %>
    </div>

   
</div>


