
<div class="row">
    <!--basic info-->
    <div class="col-md-6">
    
        <%= form_tag authors_info_path, method: :put do %>
        <%= fields_for :author do |f| %>
        <div class="card">
            
            <div class="card-header">
                <h4>Account Info</h4>
            </div>
    
            <ul class="list-group list-group-flush">
                <li class="list-group-item">

                    <%= image_tag(current_author.gravatar_img_url) %>

                    <small class="text-muted">(Fetched from Gravatar)</small>


                </li>
                <li class="list-group-item">
                    <div class="field">
                        <%= f.label :name %>
                        <%= f.text_field :name, value: current_author.name, class: 'form-control' %>
                    </div>
                </li>
            
                <li class="list-group-item">
                    <div class="field">
                        <%= f.label :email %>
                        <%= f.email_field :email, value: current_author.email, class: 'form-control' %>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="field">
                        <%= f.label :bio %>
                        <%= f.text_area :bio, value: current_author.bio, class: 'form-control' %>
                    </div>
                </li>
                <li class="ml-auto list-group-item">

                    
                    <%= f.submit '', :class => "hidden invisible p-0 m-0", :id => 'change_info_submit_button', :style => "padding: 0px; margin:0px; width: 0px; height: 0px;" %>
                    <%= link_to 'Update Info', "", :onclick => "$('#change_info_submit_button').click();", class: 'btn btn-default' %>
                    
                </li>
            </ul>
        </div>             
        <% end %>
        <% end %>


    
    </div>
        
    <!--CHANGE PASSWORD-->
    
    <div class="col-md-6">
        <%= form_tag authors_change_password_path, method: :put do %>

        <%= fields_for :author do |f| %>
        
        <div class="card">
    
            <div class="card-header">
                <h4>Passowrd</h4>
            </div>
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="field">
                      <%= f.label :current_password %>
                      <%= f.password_field :current_password, class: 'form-control' %>
                    </div>
                </li>
    
                <li class="list-group-item">
                    <div class="field">
                        <%= f.label :new_password %>
                        <%= f.password_field :new_password, class: 'form-control' %>
                    </div>
                </li>
    
                <li class="list-group-item">
                    <div class="field">
                        <%= f.label :new_password_confirmation %>
                        <%= f.password_field :new_password_confirmation, class: 'form-control' %>
                    </div>
                </li>

                <li class="ml-auto list-group-item">


                    <%= f.submit '', :class => "hidden invisible p-0 m-0", :id => 'change_password_submit_button', :style => "padding: 0px; margin:0px; width: 0px; height: 0px;" %>
                    <%= link_to 'Update Password', "", :onclick => "$('#change_password_submit_button').click();", class: 'btn btn-default' %>
                     
                </li>
            </ul>
        </div>   
        <% end %>
        <% end %>

    </div>
    
</div>

